<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "springframework.org/dtd/spring-beans-2.0.dtd">
<!-- <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd"> -->

<beans>
	<bean id="triangle" class="springframework.Triangle" autowire="byName" >
				
	</bean>
<!-- need to provide below parameter in the triangle bean for specific bean otherwise can be
mentioned globally for all beans -->
<!-- init-method="myInit" destroy-method="cleanUp" -->

	<bean id="pointA" class="springframework.Point">
		<property name="x" value="${pointA.pointX}"  />
		<property name="y" value="${pointA.pointY}"  />
	</bean>
	
	<bean id="pointB" class="springframework.Point">
		<property name="x" value="-20"  />
		<property name="y" value="0"  />
	</bean>
	
	<bean id="pointC" class="springframework.Point">
		<property name="x" value="20"  />
		<property name="y" value="0"  />
	</bean>
	
	<!-- <bean class="springframework.DisplayNameBeanPostProcessor" /> -->
	 <!-- <bean class="springframework.MyBeanFactoryPP" /> -->
	 <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	 	<property name="locations" value="classpath:springframework/pointsconfig.properties" />
	 </bean>
</beans>